streamlit
PyMuPDF 
sentence_transformers
pymilvus 
langchain_huggingface 
langchain_milvus 
langchain 
langchain_community 
rank_bm25 
langchainhub
nltk
pandas
torch
re
PIL
umap-learn
scikit-learn
tiktoken